<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../Style/master.css">
        <link rel="stylesheet" href="../../Style/tickets.css">
        <title>Tickets</title>
    </head>
    

    <body>

        <header>
            <nav>
              <div id="logo"><h2>Solve Us</h2></div>
            </nav>
        </header>

        <div class="box">
            <h1>
                Tickets
            </h1>
            <div id="filtro">
                <input type="text" placeholder="Name"></input>
                <button class="confirm" type="submit">Search</button>
            </div>
            <div id="list">
                <div class="ticket">
                    <div>Codigo</div>
                    <div>Descricao</div>
                    <div>Assign</div>
                    <div>11/11/2022</div>
                </div>
                <div class="ticket">
                    <div>Codigo</div>
                    <div>Descricao</div>
                    <div>Assign</div>
                    <div>11/11/2022</div>
                </div>
                <div class="ticket">
                    <div>Codigo</div>
                    <div>Descricao</div>
                    <div>Assign</div>
                    <div>11/11/2022</div>
                </div>    
                <div class="ticket">
                    <div>Codigo</div>
                    <div>Descricao</div>
                    <div>Assign</div>
                    <div>11/11/2022</div>
                </div>  
                <div class="ticket">
                    <div>Codigo</div>
                    <div>Descricao</div>
                    <div>Assign</div>
                    <div>11/11/2022</div>
                </div>  
            </div>
        </div>
        

    </body>

</html