<!DOCTYPE html>

<html>
    <style>
        /* Remove the border */
        iframe {
            border: none;
        }
    </style>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../Style/master.css">
        <link rel="stylesheet" href="../../Style/tickets.css">
        <title>Tickets</title>
    </head>
    

    <body>

        <header>
            <div id="logo" onclick="goBack()">
                <h2>Solve Us</h2>
            </div>
            <div id="icon" onclick="goToProfile()">
                <img src="../../Images/pngwing.com.png" alt="Image" class="square-image">
            </div>
        </header>

        <div class="box">
            <h1>
                Tickets
            </h1>
            <div id="filtro">
                <input type="text" placeholder="Name"></input>
                <button class="confirm" type="submit">Search</button>
            </div>
            
            <div class="ticket">
                <div>Ticket ID</div>
                <div>Description</div>
                <div>Date</div>
            </div>
            
            <iframe src="tickets.php"></iframe>

        </div>

        <script>

                function goBack() {
                    window.location.href = "../../Views/Main/Index.html";
                }

                function goToProfile() {
                    window.location.href = "../../Views/Login/User.html";
                }

        </script>
        

    </body>

</html