<!DOCTYPE html>

<html>
    <style>
        /* Remove the border */
        iframe {
            border: none;
        }
    </style>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../Style/master.css">
        <link rel="stylesheet" href="../../Style/tickets.css">
        <script src="../../Scripts/master.js"></script>
        <link type="image/png" sizes="32x32" rel="icon" href="../../Images/icon.png">
        <title>Tickets</title>
    </head>
    

    <body>

        <header>
            <div id="logo" onclick="goBack()">
                <h2>Solve Us</h2>
            </div>
            <div id="icon" onclick="goToProfile()">
                <img src="../../Images/pngwing.com.png" alt="Image" class="square-image">
            </div>
        </header>

        <div id="container" class="box">
            <h1>
                Information Center
            </h1>
            <h2>
                Tickets
            </h2>

            <iframe id="frame" src="information.php"></iframe>

        </div>

        
        <footer>
            <div class="footer">
                University of Porto
            </div>
        </footer>

        <script>

                function goBack() {
                    window.location.href = "../../Views/Main/Index.html";
                }

                function goToProfile() {
                    window.location.href = "../../Views/Login/User.html";
                }
                
                document.getElementById("frame").onload = function() {
                    // Access the contentWindow of the iframe
                    var iframeWindow = document.getElementById("frame").contentWindow;
                
                    // Get the desired div element from the iframe
                    var desiredDiv = iframeWindow.document.getElementById("list");
                
                    // Append the desired div to your webpage
                    document.getElementById("container").appendChild(desiredDiv);
                };
                
        </script>
        

    </body>

</html