<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../Style/master.css">
        <link rel="stylesheet" href="../../Style/login.css">

        <title>Ticket Submission</title>
    </head>
    
    <body>
        <header>
            <div onclick="goBacktoMainPage()" id="logo"><h2>Solve Us</h2></div>
            <div onclick="goToProfile()" id="icon">
                <img src="../../Images/pngwing.com.png" alt="Image" class="square-image">
            </div>
        </header>
     

        <div class="box">
            <h1>
                Submit Ticket
            </h1>
            <div>
                <label for="department">Department:</label>
                <select id="department" name="department">
                    <option value="Marketing">Marketing</option>
                    <option value="Tech Help">Tech Help</option>
                    <option value="Information">Information</option>
                </select>
            </div>
    
            <div>
                <input type="text" id="usernameInput"></input>
            </div>
    
            <div>
                <button class="confirm" type="submit" onclick="Send()">Enter</button>
            </div>  
        </div>

        <div class="footer">
            University of Porto
        </div>

                    

        <script>
            function Send() {
                var ticket_text = document.getElementById("usernameInput").value;
                var department = document.getElementById("department").value;
            
                var formData = new FormData();
                formData.append('ticketText', ticket_text);
                formData.append('department', department); // Add the department value to formData
            
                fetch('your_php_script.php', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.text()) // Extract the response text
                .then(data => {
                    // Handle the response text from the PHP script
                    console.log('Response:', data);
                    // You can perform further actions based on the response text
                })
                .catch(error => {
                    // Handle any errors that occurred during the request
                    console.error('Error:', error);
                });
            }

            function goBacktoMainPage() {
                window.location.href = "../../Views/Main/Index.html";
            }

            function goToProfile() {
                    window.location.href = "../../Views/Login/User.html";
            }
        </script>
    </body>
</html>
