<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../Style/master.css">
        <link rel="stylesheet" href="../../Style/login.css">
        <title>New Login</title>
    </head>
    
    <body>
        <header>
            <nav>
              <div id="logo"><h2>Solve Us</h2></div>
            </nav>
        </header>

        <div class="box">
            <h1>
                Tickets
            </h1>
            <div>
                <div>
                    <Label>Descrition:</Label>
                    <Label>fidshfihdsihdfihsddifihdsifd</Label>
                </div>
                <div>
                    <Label>Date:</Label>
                    <Label>08/12/2000</Label>
                </div>
                <div>
                    <Label>Departament:</Label>
                    <Label>Logistica</Label>
                </div>
                <div>
                    <Label>Status:</Label>
                    <Label></Label>
                </div>
                
            </div>
            <div>
                <button class="confirm">Edit</button>
                <button class="confirm">Assign</button>
            </div>
        </div>
        

    </body>
</html