:root {
    --cor_primaria: #ecececfa;
    --font_logo: "Abrashe";
    --font_padrão: "Abrashe";
}

html{
    width: 100%;
    height: 100%;
}

body{
    display:flex;
    flex-direction: column;
}

.confirm{
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 100%;
    font-size: 16px;
    cursor: pointer;
}

.cancel{
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 100%;
    font-size: 16px;
    cursor: pointer;
}

.confirm:hover {
    background-color: #24be5f;
}
  
.cancel:hover {
    background-color: #ff4444;
}