#list{
    display: flex;
    flex-direction: column;
    width: 70%;    
}

#list > * {
    margin-bottom: 1%;
}

#filtro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm {
    width: 10%;
    padding: 1%;
}

.ticket-container {
    border: 2px;
    padding: 10px;
    background-color: rgb(160, 156, 156);
    border-radius: 5px;
  }
  
  .answer-id {
    border-bottom: 1px solid black;
    display: block;
    margin-bottom: 10px;
}
