<!DOCTYPE html>
<html>
<head>
    <title>My HTML Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#load-data").click(function() {
                $.ajax({
                    url: "myphpscript.php",
                    dataType: "json",
                    success: function(data) {
                        // Loop through the data and display it on the page
                        $.each(data, function(index, value) {
                            $("#output").append("<p>" + value.column1 + " - " + value.column2 + "</p>");
                        });
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>My HTML Page</h1>
    <button id="load-data">Load Data</button>
    <div id="output"></div>
</body>
</html>
