<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../Style/master.css">
    <link rel="stylesheet" href="../../Style/edit.css">
    <link type="image/png" sizes="32x32" rel="icon" href="../../Images/icon.png">
    <title>Edit profile</title>
</head>

<body>
    <div onclick="goBacktoMainPage()" id="logo"><h2>Solve Us</h2></div>

    <form action="edit.php" method="post">
        <h1>Edit profile</h1>
        <div id="forms">
            <div>
                <input type="text" id="newname" name="name" placeholder="New Name">
            </div>
            <div>
                <input type="text" id="newusername" name="username" placeholder="New Username">
            </div>
            <div>
                <input type="text" id="newemail" name="email" placeholder="New Email">
            </div>
            <div>
                <input type="password" id="newpassword" name="password" placeholder="New Password">
            </div>
            <div>
                <input type="password" id="confirmnewpassword" name="confirm_password" placeholder="Confirm Your New Password">
            </div>
            <div>
                <button class="confirm" type="submit">Save</button>
                <button class="cancel" type="button" onclick="goToProfile()">Cancel</button>
            </div>
        </div>
    </form>

    <footer>
        <div class="footer">
            University of Porto
        </div>
    </footer>

    <script>
        function goBacktoMainPage() {
            window.location.href = "../Main/Index.html";
        }

        function goToProfile() {
            window.location.href = "User.html";
        }
    </script>
</body>
</html>
