<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../Style/master.css">
        <link rel="stylesheet" href="../../Style/login.css">

        <title>Login</title>
    </head>
    
    <body>
        <div onclick="goBacktoMainPage()" id="logo"><h2>Solve Us</h2></div>

        <form>
            <div>
                <label>Login</label>
                <input type="text" id="usernameInput"></input>

                <label>Password</label>
                <input type="password" id="passwordInput"></input>

                <input type="button" value="Log In" onclick="login()">
                <input type="button" value="Create Account" onclick="createAccount()">
            </div>
        </form>

        <div id="resultContainer"></div>

        <script>

            var receivedData = "Please Login";
            displayReceivedData();

            var loggedIn = 0;

            function login() {
                console.log("LOG IN BUTTON");
                var username = document.getElementById("usernameInput").value;
                var password = document.getElementById("passwordInput").value;
    
                // Now you can use the 'username' and 'password' variables to authenticate the user
                console.log("Username: " + username);
                console.log("Password: " + password);

                fetch('login.php', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: 'username=' + encodeURIComponent(username) + '&password=' + encodeURIComponent(password)
                })

                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Request failed. Returned status of ' + response.status);
                    }
                })

                .then(data => {
                    console.log(data);
                    receivedData = data;
                    if(data == 'sucess'){
                        loggedIn = 1;
                    }
                    else{
                        loggedIn = 0;
                    }
                    // Call a function to display the received data on the screen
                    displayReceivedData();
                    
                })
                .catch(error => {
                    console.error(error);
                });
                }

                function createAccount() {
                    console.log("CREATE ACCOUNT BUTTON");
                    window.location.href = "createacount.html";
                }

                function displayReceivedData() {
                    var resultContainer = document.getElementById("resultContainer");
                    resultContainer.innerHTML = receivedData;
                }

                function goBacktoMainPage() {
                    window.location.href = "../../Views/Main/Menu.html";
                }


        </script>
        

    </body>
</html