<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../Style/master.css">
        <link rel="stylesheet" href="../../Style/register.css">
        <title>New Login</title>
    </head>
    
    <body>
        <div onclick="goBacktoMainPage()" id="logo"><h2>Solve Us</h2></div>

        <form method="post">
            <h1>
                New Register
            </h1>
            <div id="forms">
                    <div>
                        <input type="text" id="createname" name="name" placeholder="Name"></input>
                    </div>
                    <div>
                        <input type="text" id="createusername" name="username" placeholder="User Name"></input>
                    </div>
                    <div>
                        <input  type="text" id="createemail" name="email" placeholder="Email"></input>
                    </div>
                    <div>
                        <input type="password" id="createpassword" name="password" placeholder="Password"></input>
                    </div>
                    <div>
                        <input type="password" id="createpassword" name="password" placeholder="Confirm Your Password"></input>
                    </div>
                    <div>
                        <button class="confirm" type="submit" onclick="create_acount()">Register</button>
                        <button class="cancel" type="">Cancel</button>
                    </div>
            </div>
        </form>




        <script>
            function goBacktoMainPage() {
                window.location.href = "../../Views/Main/Menu.html";
            }

            function create_acount() {
                console.log("CREATING ACOUNT");
                var username = document.getElementById("createusername").value;
                var password = document.getElementById("createpassword").value
                var name = document.getElementById("createname").value;
                var email = document.getElementById("createemail").value;

                if (username === '') {
                    console.log("Username cannot be empty");
                    return;
                }

                if (password === '') {
                    console.log("Password cannot be empty");
                    return;
                }

                if (name === '') {
                    console.log("Name cannot be empty");
                    return;
                }

                if (email === '') {
                    console.log("Email cannot be empty");
                    return;
                }

                // Now you can use the 'username' and 'password' variables to authenticate the user
                console.log("Username: " + username);
                console.log("Password: " + password);
                console.log("email: " + email);
                console.log("name " + name);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'Register.php');
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        console.log(xhr.responseText);
                        // Do something with the response
                        
                    }
                    else {
                        console.log('Request failed.  Returned status of ' + xhr.status);
                    }
                };
                
                xhr.send('username=' + username + '&password=' + password + '&email=' + email + '&name=' + name);
     
  		}
          
        </script>
        
    
    </body>
