<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../Style/master.css">
        <link rel="stylesheet" href="../../Style/main.css">
        <title>Menu</title>
    </head>
    
    <body>
        <div onclick="goBacktoMainPage()" id="logo"><h2>Solve Us</h2></div>
        
        <div class="squares">
            <div class="line1">
                <div class="square" onclick="squareClicked()">
                    <img src="../../Images/ticket.jpg" alt="Image" class="square-image">
                </div>
                
                <div class="square" onclick="squareClicked2()">
                    <img src="../../Images/faq.jpg" alt="Image" class="square-image">
                </div>

                <div class="square" onclick="submitticket()">
                    <img src="../../Images/submit2.jpg" alt="Image" class="square-image">
                </div>
            </div>

            <div class="line2">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
    
    </body>

    <script>

            function squareClicked() {
                window.location.href = "../../Views/Tickets/Index.html";

            }

            
            function squareClicked2() {
                window.location.href = "../../Views/Faq/faq.html";

            }

            function submitticket() {
                window.location.href = "../../Views/Submit/submit.html";

            }

    </script>

</html


