<!DOCTYPE html>

<html>
    <style>
        /* Remove the border */
        iframe {
            border: none;
        }
    </style>

    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../Style/master.css">
        <link rel="stylesheet" href="../../Style/tickets.css">
        <title>FAQ</title>
    </head>
    

    <body>

        <header>
                <div onclick="goBacktoMainPage()" id="logo"><h2>Solve Us</h2></div>
                <div onclick="goToProfile()" id="icon">
                    <img src="../../Images/pngwing.com.png" alt="Image" class="square-image">
                </div>
        </header>

        <div class="box">
            <h1>
                FAQ
            </h1>
            <div id="filtro">
                <input type="text" placeholder="Name"></input>
                <button class="confirm" type="submit">Search</button>
            </div>

            <!--
            <div id="list">
                <div class="ticket">
                    <div>Codigo</div>
                    <div>Descricao</div>
                    <div>Assign</div>
                    <div>11/11/2022</div>
                </div>

                <div class="ticket">
                    <div>Codigo</div>
                    <div>Descricao</div>
                    <div>Assign</div>
                    <div>11/11/2022</div>
                </div>
                <div class="ticket">
                    <div>Codigo</div>
                    <div>Descricao</div>
                    <div>Assign</div>
                    <div>11/11/2022</div>
                </div>    
                <div class="ticket">
                    <div>Codigo</div>
                    <div>Descricao</div>
                    <div>Assign</div>
                    <div>11/11/2022</div>
                </div>  
                <div class="ticket">
                    <div>Codigo</div>
                    <div>Descricao</div>
                    <div>Assign</div>
                    <div>11/11/2022</div>
                </div>  
            </div>
            -->
            
            <div class="ticket">
                <div>FAQ ID</div>
                <div>Title</div>
                <div>Description</div>
            </div>
            
            <iframe src="faq.php"></iframe>

        </div>

        <script>
                function goBacktoMainPage() {
                    window.location.href = "../../Views/Main/Index.html";
                }

                function goToProfile() {
                    window.location.href = "../../Views/Login/User.html";
                }
        </script>
        

    </body>

</html